@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

.App {
  text-align: center;
  font-family: 'Ibarra Real Nova', serif;
}

.images{
  height:200px;
  width:200px;
  border:6px solid rgb(192, 61, 61);
  display:flex;
  margin-top: 50px;
}
 
 
  
.panel-title{
  font-family:cursive;
  color:black;
  justify-content: center;
}
  
.row{
  display:flex;
}
    
 
.container{
  margin-top: 50px;
  font-size: 0.9rem;
  color:black;
  display:flex;
  flex-direction: column;
}

  
  
  
.main{
  display:flex;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
}
  

